# Logs
logs
*.log
npm-debug.log*

# Secrets & Environment variables
.env
.env.*
*.env

# Node modules
node_modules/
dist/
dist-ssr/
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

# Large files & backups
backups/
pos_extracted/
pos_latest/
Pos.zip
